body{
  background-image: url('http://www.esnporto.org/sites/default/files/styles/zoom/public/events/images/airsoft.jpg?itok=yL1dM7i4');
  background-repeat: no-repeat;
  background-size: cover;
}

.registerTeam label {
  color: white;
  font-size: 20px;
  font-weight: normal
}

.registerTeam .image-preview-input {
  width: 100%;
}
