#navbar{
  color:#253F1D;

}



#navbar1 {
  background-color: #596F62
  
  
}


.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
  font-size: 20px;
}

.navbar-inverse .navbar-brand {
  font-family: 'Orbitron', sans-serif;
 font-size: 25px;
 cursor: pointer;
}