body {
  background-color:#1C3144;
  font-family: 'Roboto', sans-serif;
  
}
h1, h2, h3, h4, h5, h6, legend, .navbar-inverse, label{
  font-family: 'Orbitron', sans-serif;
}

.container-name{ 
  height: 150px;
  display: table-cell;
  margin-bottom: 20px;
  border-bottom: solid 3px black;
  
  text-align:center;
}
.container-name h1{
  padding-top: 10px;
  margin:50px auto 0 auto ;
  color: white;
  
  font-size: 35px;
  text-align: center;
  text-shadow: 0px 0px 2px black;
}

a:link, :visited, :active {
  color: #000000;
  text-decoration:none;
}

.container-info{
  height: 550px;
}

.container-info .container-info-img {
  height: 250px;
  padding-top: 15%;
}

.container-info .container-info-img img{
  max-height: 100%;
  max-width: 100%;
}

.container-info .lista{
  color: #7EA16B;
}



.teams{
  padding-top: 0;
  background-color: rgba(12, 78, 4, 0.54);
  /* height: 900px; */
}
.teams:hover{
  transition: background-color 1s ease;
  background-color: #196b3a;
}

.teams ul{
  padding-left: 0;
  margin-top:20px;
  list-style: none;
}


h4, small, li{
  color: #000000;
}
